html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  margin: 0 auto;
  font: normal 16px arial, sans-serif;
  width: 960px;
  background: #eeeeee;
  color: #444444;
}

.container-padding, #searchContainer, #searchResultsMap {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

#searchContainer {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}
#searchContainer input {
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #444444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}
#searchContainer input#searchTerm {
  width: 350px;
}
#searchContainer input#searchLocation {
  width: 290px;
}
#searchContainer button {
  height: 40px;
  font: bold 19px arial, sans-serif;
  letter-spacing: 1px;
  background: #c90117;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  padding: 0 15px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}
#searchContainer .search-in {
  font-size: 20px;
  margin: 0 7px;
}

#searchResultsMap {
  display: none;
}
#searchResultsMap #mapCanvas {
  border: 2px solid #cccccc;
  width: 956px;
  height: 300px;
}

#searchResult {
  font: normal 12px/17px arial, sans-serif;
  letter-spacing: 1px;
}
#searchResult .business {
  width: 275px;
  height: 160px;
  border: 1px solid #cccccc;
  float: left;
  margin: 0 19px 20px 0;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  color: #666;
}
#searchResult .business.last {
  margin-right: 0;
}
#searchResult header {
  margin-bottom: 15px;
}
#searchResult header h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #444444;
}
#searchResult .business-information {
  width: 160px;
  float: right;
}
#searchResult .business-information .business-categories {
  font-style: italic;
}
#searchResult .business-information .business-address {
  clear: both;
  margin-bottom: 15px;
}
#searchResult .business-photos {
  width: 100px;
  display: block;
  float: left;
  margin-right: 15px;
}
#searchResult .business-photos img {
  border-radius: 5px;
  border: 1px solid #cccccc;
}
#searchResult .business-photos a {
  color: #666;
  text-transform: uppercase;
  font-size: 11px;
}
#searchResult .business-photos a:hover {
  color: #999;
}
#searchResult .business-photos a:active {
  color: #aaa;
}
