@import "compass/reset";

// CONSTANTS
$default-font: arial, sans-serif;
$default-color: #444;
$default-color-bg: #eee;
$default-border-color: #ccc;
$default-border-radius: 5px;
$default-color-secondary: #c90117;

body {
	margin: 0 auto;
	font: normal 16px $default-font;
	width: 960px;
	background: $default-color-bg;
	color: $default-color;
}

.container-padding {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $default-border-color;
}

.header-style {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: $default-color;
}

#searchContainer {
	margin-top: 50px;
	text-align: center;
	@extend .container-padding;
	padding-bottom: 30px;

	input {
		height: 40px;
		font-size: 22px;
		font-weight: bold;
		color: $default-color;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 5px;
		border: 1px solid #d4d4d4;
		border-radius: $default-border-radius;

		&#searchTerm {
			width: 350px;
		}
		&#searchLocation {
			width: 290px;
		}
	}

	button {
		height: 40px;
		font: bold 19px $default-font;
		letter-spacing: 1px;
		background: $default-color-secondary;
		text-transform: uppercase;
		color: #fff;
		border-radius: $default-border-radius;
		padding: 0 15px;
		position: relative;
		top: -2px;
		margin-left: 5px;
	}

	.search-in {
		font-size: 20px;
		margin: 0 7px;
	}
}

#searchResultsMap {
	display: none;
	@extend .container-padding;

	#mapCanvas {
		border: 2px solid $default-border-color;
		width: 956px;
		height: 300px;
	}
}

#searchResult {
	height: 404px;
	font: normal 12px/17px $default-font;
	letter-spacing: 1px;
	@extend .container-padding;
	display: none;

	.business {
		width: 275px;
		height: 160px;
		border: 1px solid $default-border-color;
		float: left;
		margin: 0 19px 20px 0;
		padding: 15px;
		border-radius: $default-border-radius;
		background: #fff;
		color: #666;

		&.last {
			margin-right: 0;
		}
	}

	header {
		margin-bottom: 15px;

		h1 {
			@extend .header-style;
		}
	}

	.business-information {
		width: 160px;
		float: right;

		.business-categories {
			font-style: italic;
		}

		.business-address {
			clear: both;
			margin-bottom: 15px;
		}
	}

	.business-photos {
		width: 100px;
		display: block;
		float: left;
		margin-right: 15px;

		img {
			border-radius: $default-border-radius;
			border: 1px solid $default-border-color;
		}

		a {
			color: #666;
			text-transform: uppercase;
			font-size: 11px;

			&:hover {
				color: #999;
			}
			&:active {
				color: #aaa;
			}
		}
	}

	.business-noresults {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		color: $default-color-secondary;
		margin-top: 50px;
	}
}

#searchPhotos {
	text-align: center;

	h1 {
		@extend .header-style;
		margin-bottom: 20px;
		letter-spacing: 1px;
	}

	img {
		border-radius: $default-border-radius;
		border: 1px solid $default-border-color;
	}
}